
input {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 50px; 
    height: 28px;
}
.inputHolder {
    display: flex;
}
.formHolder {
    width: 100%;
}
.formButton {
    height: 35px;
    width: 100%;
    background-color: white
}